.recipe-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  flex-direction: column;
  cursor: pointer;
}

.recipe-categories h3 {
  margin: 0px;
  font-size: 14px;
}

.recipe-categories-images {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.recipe-categories-images img {
  max-width: 75px;
  max-height: 75px;
}
